<h1 id="username"><%= @user.username.capitalize %></h1>

<div class="container">
  <div class="answers_container">
  <h3>Answers:</h3>
    <ul>
      <% @user.answers.each do |answer| %>
        <dt><%= answer.answer_body %></dt><br>
      <% end %>
    </ul>
  </div>

  <div class="questions_container">
  <h3>Questions:</h3>
    <ul>
      <% @user.questions.each do |question| %>
        <dt id="question_title"><a href="/questions/<%= question.id %>"><%= question.title %></dt></a>
        <br>
      <% end %>
    </ul>
  </div>
</div>

